html {
	overflow-y : scroll;
}

body, html {
	height      : 100%;
	font-size   : 18px;
	font-weight : 300;
}

pre {
	font-family: "Courier New", monospace;
}

.main {
	float       : left;
	width       : 80%;
	height      : 100%;
	position    : relative;
	max-width   : 850px;
	margin-left : 300px;
}

	.body {
		background-color : #fff;
		margin           : 55px;
		padding          : 0 25px;
	}

	h2 {
		border-bottom  : 1px solid #dfdfdf;
		padding-bottom : 0.2em;
		font-size      : 150%;
		margin-bottom  : 0.8em;
	}

	.light {
		color : #999;
		font-weight: normal;
	}

	.breadcrumb {
		background-color : transparent;
		padding          : 0;
		font-size        : 85%;
	}

	.breadcrumb > li + li::before {
	    content   : "> ";
	    font-size : 85%;
	    padding   : 0 2px;
	}

	.dl-horizontal dt,
	.dl-horizontal dd {
		margin-bottom : 2px;
	}

.navigation {
	background       : none repeat scroll 0% 0% #38424D;
	height           : 100%;
	width            : 300px;
	position         : fixed;
	top              : 0;
	bottom           : 9;
	color            : #eee;
}

.brand-container {
	background-color : #01798A;
	padding          : 20px 0px;
}

	.brand-container .home-link {
		background  : url( '../img/lucee-logo.png') no-repeat;
		text-indent : -9999px;
		width       : 121px;
		height      : 50px;
		display     : block;
		margin-left : 20px;
	}

	.brand-container .search-link {
		font-size : 1.5em;
		float: right;
		margin : 17px 20px 0 0;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
		transition: text-shadow 0.3s ease;
	}

		.brand-container .search-link:hover {
			text-shadow: 0px 2px 2px rgba(200, 200, 200, 0.2);
		}


		.brand-container .search-link .fa {
			color : #fff;
		}

.navigation-container {
	margin-top : 20px;
}

	.navigation .sidebar-nav {
		margin       : 0;
		list-style   : none;
		padding-left : 0;
	}

		.navigation .sidebar-nav li {
			padding   : 0;
		}

			.navigation .sidebar-nav li a {
				color : #eee;
				padding : 7px 0 7px 20px;
				display: block;
			}

				.navigation .sidebar-nav li li a {
					padding-left: 40px;
				}

		.navigation .sidebar-nav > .active {
			background-color  : #2d353e;
			position          : relative;
		}

			.navigation .sidebar-nav > li .active a,
			.navigation .sidebar-nav > .current > a {
				background-color: #fff;
				color : #333;
			}

		.navigation .sidebar-nav ol {
			list-style : none;
			padding : 0;
		}

	.prev-next-container .nav-link {
		position: absolute;
		top: 50px;
		bottom: 0px;
		margin: 0px;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		font-size: 300%;
		color: #CCC;
		text-align: center;
		transition: all 350ms ease 0s;
	}

		.prev-next-container .nav-link:hover {
			color : #999;
		}

	.prev-next-container .prev {
		left : 0;
	}
	.prev-next-container .next {
		right : 0;
	}

.argument-table {
	font-size: 85%;
}

blockquote {
	position : relative;
	padding : 0;
}

	blockquote > p {
		padding : 15px;
	}

	blockquote blockquote {
		position : static;
		margin-bottom : 0;
		border : none;
	}

		blockquote > blockquote > blockquote > p {
			border-top       : 30px solid #6ab0de;
			background-color : #e7f2fa;

			display          : block;
			font-size        : 1rem;
			margin           : 10px -5px;
		}
			blockquote > blockquote > blockquote > p:first-child::before {
				position    : absolute;
				top         : 2px;
				color       : #fff;
				font-family : FontAwesome;
				left        : 10px;
				content     : "\f05a";
			}
			blockquote > blockquote > blockquote > p:first-child::after {
				position    : absolute;
				top         : 2px;
				color       : #fff;
				left        : 2rem;
				font-weight : bold;
				content     : "Info";
			}


		blockquote > blockquote > blockquote > blockquote > p {
			border-top-color : #f0b37e;
			background-color : #fff2db;
		}
			blockquote > blockquote > blockquote > blockquote > p:first-child::before {
				content : "\f06a";
			}
			blockquote > blockquote > blockquote > blockquote > p:first-child::after {
				content : "Warning";
			}

		blockquote > blockquote > blockquote > blockquote > blockquote > p {
			border-top-color : #e06f6c;
			background-color : #fae2e2;
		}
			blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child::before {
				content : "\f06a";
			}
			blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child::after {
				content : "Important";
			}

		blockquote > blockquote > blockquote > blockquote > blockquote > blockquote p {
			border-top-color : #1abc9c;
			background-color : #dbfaf4;
		}
			blockquote > blockquote > blockquote > blockquote > blockquote > blockquote p:first-child::before {
				content     : "\f06a";
			}
			blockquote > blockquote > blockquote > blockquote > blockquote > blockquote p:first-child::after {
				content     : "Tip";
			}

.search-container {
	display          : none;
	position         : fixed;
	top              : 0px;
	right            : 0px;
	bottom           : 0px;
	left             : 0px;
	overflow         : hidden;
	background-color : #444;
	opacity          : 0.95;
	z-index          : 1;
}

	.search-container .twitter-typeahead {
		display : block;
		width   : calc( 100% - 80px );
		margin  : 40px 0 0 40px;
	}

	.search-container .search-input {
		border-radius : 5px;
		width         : 100%;
		padding       : 10px;
		font-size     : 150%;
		color         : #555;
		border        : none;
	}

.tt-menu {
	background-color : #fff;
	width            : 100%;
	padding          : 8px;
	border-top       : none;
	margin-top       : -5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

	.tt-menu .tt-dataset {
		background-color : #fff;
	}
		.tt-menu .tt-dataset .tt-suggestion {
			background-color : #fff;
			padding          : 4px;
		}

			.tt-menu .tt-dataset .tt-suggestion:last-child {
				border-bottom : none;
			}

			.tt-menu .tt-dataset .tt-suggestion.tt-cursor {
				background-color : #eee;
				border-radius    : 5px;
			}
